.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pag {
  color: red;
  text-align: center;
}

.container-flex {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.container-flex div {
  text-align: center;
  font-size: 200%;
  /* background-color: blue; */
  font-size: 200%;
  padding: 2mm;
  margin: 10px 10px;
  flex: 0 1 20%;
}

.container-flex2 {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.container-flex2 div {
  text-align: center;
  font-size: 200%;
  /* background-color: blue; */
  font-size: 200%;
  padding: 2mm;
  margin: 10px 10px;
  flex: 0 1 50%;
}

.container-flex3 {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
.container-flex3 div {
  text-align: center;
  font-size: 200%;
  background-color: blue;
  font-size: 200%;
  padding: 2mm;
  margin: 10px 10px;
  flex: 0 1 80%;
}
.container-flex4 {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.container-flex4 div {
  text-align: center;
  font-size: 200%;
  background-color: blue;
  font-size: 200%;
  padding: 2mm;
  margin: 10px 10px;
  flex: 0 1 100%;
}

.container-flex4 .col-8 {
  font-size: 200%;
  background-color: red;
  font-size: 200%;
  padding: 2mm;
  margin: 10px 10px;
  flex: 0 1 70wk%;
}

.container-flex4 .col-4 {
  font-size: 200%;
  background-color: yellow;
  font-size: 200%;
  padding: 2mm;
  margin: 10px 10px;
  flex: 0 1 30%;
}
